# 1. Load & Inspect Dataset

In [1]:
import pandas as pd
dataset= pd.read_csv("data.csv")
print(f"Row=> {dataset.shape[0]}  Columns=> {dataset.shape[1]}\n") # Rows, columns count
print("\033[92m Missing values check\n \033[0m",dataset.isnull().sum())   # Missing values check 
print("\033[92m \n Summary statistics \n\033[0m",dataset.describe())   #   Summary statistics

Row=> 11914  Columns=> 16

 Missing values check
  Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

 Summary statistics
                Year    Engine HP  Engine Cylinders  Number of Doors  \
count  11914.000000  11845.00000      11884.000000     11908.000000
mean    2010.384338    249.38607          5.628829         3.436093
std        7.579740    109.19187          1.780559         0.881315
min     1990.000000     55.00000          0.000000         2.000000
25%     2007.000000    170.00000          4.000000         2.000000
50%     2015.000000    227.00000          6.000000         4.000000
75%     2016.000000    300.00000          6.000000         4.000000
max     2017.000000   1001.00000         16.000000         4.000000

        highway MPG      city mpg    Popularity          MSRP
count  11914.000000  11914.000000  11914.000000  1.191400e+04
mean      26.637485     19.733255   1554.911197  4.059474e+04
std        8.863001      8.987798   1441.855347  6.010910e+04
min       12.000000      7.000000      2.000000  2.000000e+03
25%       22.000000     16.000000    549.000000  2.100000e+04
50%       26.000000     18.000000   1385.000000  2.999500e+04
75%       30.000000     22.000000   2009.000000  4.223125e+04
max      354.000000    137.000000   5657.000000  2.065902e+06

# 2 Handle Missing Data

In [2]:
#   •	Numeric columns 
numeric_cols=dataset.select_dtypes(include=['number']).columns
print("\033[92m \n Numeric columns \n\033[0m",numeric_cols)
print(f"\033[92m null  value in % \033[0m")
for col in numeric_cols:
    null_percentage=((dataset[col].isnull().sum())/dataset.shape[0])  *  100   # null value in %
    print(f"{col}: {null_percentage:.2f}%")    # showing null value in percentage with two decimal places

print("\033[92m \n Null value Handel \033[0m")
for col in numeric_cols:
    if (((dataset[col].isnull().sum())/dataset.shape[0])  *  100 )< 1.5:   # if null value is less than 1.5% 
        mean_value=dataset[col].mean()
        dataset[col].fillna(mean_value,inplace=True)   # fill null value with mean
        print(f"Filled null values in column '{col}' with mean value {mean_value:.2f}")
dataset.isnull().sum()   # checking null value after filling

 Numeric columns
 Index(['Year', 'Engine HP', 'Engine Cylinders', 'Number of Doors',
       'highway MPG', 'city mpg', 'Popularity', 'MSRP'],
      dtype='object')
 null  value in %
Year: 0.00%
Engine HP: 0.58%
Engine Cylinders: 0.25%
Number of Doors: 0.05%
highway MPG: 0.00%
city mpg: 0.00%
Popularity: 0.00%
MSRP: 0.00%

 Null value Handel
Filled null values in column 'Year' with mean value 2010.38
Filled null values in column 'Engine HP' with mean value 249.39
Filled null values in column 'Engine Cylinders' with mean value 5.63
Filled null values in column 'Number of Doors' with mean value 3.44
Filled null values in column 'highway MPG' with mean value 26.64
Filled null values in column 'city mpg' with mean value 19.73
Filled null values in column 'Popularity' with mean value 1554.91
Filled null values in column 'MSRP' with mean value 40594.74

C:\Users\thako\AppData\Local\Temp\ipykernel_10304\466608995.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[col].fillna(mean_value,inplace=True)   # fill null value with mean

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP               0
Engine Cylinders        0
Transmission Type       0
Driven_Wheels           0
Number of Doors         0
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [3]:
#  •	Categorical columns
categorical_cols=dataset.select_dtypes(include=['object']).columns
print("\033[92m \n Categorical columns \n\033[0m",categorical_cols)
print(f"\033[92m null  value in % \033[0m")
for col in categorical_cols:
    null_percentage=((dataset[col].isnull().sum())/dataset.shape[0])  *  100   # null value in %
    print(f"{col}: {null_percentage:.2f}%")    # showing null value in percentage with two decimal places
print("\033[92m \n Null value Handel \033[0m")
for col in categorical_cols:
    if (((dataset[col].isnull().sum())/dataset.shape[0])  *  100 )>1.5:   # if null value is more than 1.5% 
        mode_value=dataset[col].mode()[0]
        dataset[col].fillna(mode_value,inplace=True)   # fill null value with mode
        print(f"Filled null values in column '{col}' with mode value '{mode_value}'")
    elif (((dataset[col].isnull().sum())/dataset.shape[0])  *  100 )>0:   # if null value is less than or equal to 1.5%
        # drop the rows with null values
        dataset.dropna(subset=[col], inplace=True)
        print(f"Dropped rows with null values in column '{col}'")
dataset.isnull().sum()   # checking null value after filling

 Categorical columns
 Index(['Make', 'Model', 'Engine Fuel Type', 'Transmission Type',
       'Driven_Wheels', 'Market Category', 'Vehicle Size', 'Vehicle Style'],
      dtype='object')
 null  value in %
Make: 0.00%
Model: 0.00%
Engine Fuel Type: 0.03%
Transmission Type: 0.00%
Driven_Wheels: 0.00%
Market Category: 31.41%
Vehicle Size: 0.00%
Vehicle Style: 0.00%

 Null value Handel
Dropped rows with null values in column 'Engine Fuel Type'
Filled null values in column 'Market Category' with mode value 'Crossover'

C:\Users\thako\AppData\Local\Temp\ipykernel_10304\4132451430.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[col].fillna(mode_value,inplace=True)   # fill null value with mode

Make                 0
Model                0
Year                 0
Engine Fuel Type     0
Engine HP            0
Engine Cylinders     0
Transmission Type    0
Driven_Wheels        0
Number of Doors      0
Market Category      0
Vehicle Size         0
Vehicle Style        0
highway MPG          0
city mpg             0
Popularity           0
MSRP                 0
dtype: int64

# Remove Duplicates

In [4]:
print(f"Row=> {dataset.shape[0]}  Columns=> {dataset.shape[1]}\n") # Rows, columns count
print(dataset.isnull().sum())   # Missing values check

# Duplicate rows check
dup_count = dataset.duplicated().sum()
total = len(dataset)
percent = (dup_count / total) * 100

print(f"\n \33[91mDuplicate rows: {percent:.2f}%\033[0m") # duplicate row in percentage 
print(f"\33[92mTotal duplicate rows: {dup_count} in {total} rows of data \033[0m")
print("\033[92m Dropping duplicate rows ........... \033[0m")
dataset.drop_duplicates(inplace=True)
print(f"\n \33[92mDuplicate rows after dropping: {dataset.shape[0]} \033[0m")

Row=> 11911  Columns=> 16

Make                 0
Model                0
Year                 0
Engine Fuel Type     0
Engine HP            0
Engine Cylinders     0
Transmission Type    0
Driven_Wheels        0
Number of Doors      0
Market Category      0
Vehicle Size         0
Vehicle Style        0
highway MPG          0
city mpg             0
Popularity           0
MSRP                 0
dtype: int64

 Duplicate rows: 6.00%
Total duplicate rows: 715 in 11911 rows of data
 Dropping duplicate rows ...........

 Duplicate rows after dropping: 11196

# Fix Data Inconsistencies

In [5]:
# •	String values ko uppercase/lowercase uniform banana

for col in categorical_cols:
    # Convert to lowercase
    dataset[col] = dataset[col].str.lower()
    print(f"\033[92m Converted string values in column '{col}' to lowercase. \033[0m")

 Converted string values in column 'Make' to lowercase.
 Converted string values in column 'Model' to lowercase.
 Converted string values in column 'Engine Fuel Type' to lowercase.
 Converted string values in column 'Transmission Type' to lowercase.
 Converted string values in column 'Driven_Wheels' to lowercase.
 Converted string values in column 'Market Category' to lowercase.
 Converted string values in column 'Vehicle Size' to lowercase.
 Converted string values in column 'Vehicle Style' to lowercase.

In [6]:
# •	Spelling mistakes/typos fix
# •	Units mismatch ho to correct karo
# •	Mixed data types (numeric stored as string) ko fix karo
# Title case wale columns
import re

title_cols = ["Make", "Model", "Vehicle Style", "Market Category"]
for col in title_cols:
    dataset[col] = (dataset[col].astype(str)
               .str.strip()
               .str.replace(r'\s+', ' ', regex=True)
               .str.title())

# Lowercase wale columns
lower_cols = ["Engine Fuel Type", "Transmission Type", "Driven_Wheels", "Vehicle Size"]
for col in lower_cols:
    dataset[col] = (dataset[col].astype(str)
               .str.strip()
               .str.replace(r'\s+', ' ', regex=True)
               .str.lower())

# Special manufacturers fix
special_fixes = {
    "Bmw": "BMW",
    "Gmc": "GMC",
    "Vw": "Volkswagen",
    "Rolls-Royce": "Rolls-Royce",
    "Mclaren": "McLaren"
}

dataset["Make"] = dataset["Make"].replace(special_fixes)
print("\033[92m Standardized string values in specific columns. \033[0m")
dataset.info()

 Standardized string values in specific columns.
<class 'pandas.core.frame.DataFrame'>
Index: 11196 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11196 non-null  object
 1   Model              11196 non-null  object
 2   Year               11196 non-null  int64
 3   Engine Fuel Type   11196 non-null  object
 4   Engine HP          11196 non-null  float64
 5   Engine Cylinders   11196 non-null  float64
 6   Transmission Type  11196 non-null  object
 7   Driven_Wheels      11196 non-null  object
 8   Number of Doors    11196 non-null  float64
 9   Market Category    11196 non-null  object
 10  Vehicle Size       11196 non-null  object
 11  Vehicle Style      11196 non-null  object
 12  highway MPG        11196 non-null  int64
 13  city mpg           11196 non-null  int64
 14  Popularity         11196 non-null  int64
 15  MSRP               11196 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

# Outlier Detection & Treatment

In [7]:
#  Outlier detection  

total_outliers = 0
numeric_cols = dataset.select_dtypes(include=['number']).columns
print("\033[92m \n Numeric columns \n\033[0m",numeric_cols) 
for col in numeric_cols:
    Q1 = dataset[col].quantile(0.25)
    Q3 = dataset[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = dataset[(dataset[col] < lower_bound) | (dataset[col] > upper_bound)]
    outlier_count = outliers.shape[0]
    total_count = dataset.shape[0]
    total_outliers += outliers.shape[0]
    total_outlier_percentage = (total_outliers / total_count) * 100
    outlier_percentage = (outlier_count / total_count) * 100
    print(f"\033[92m Column: {col} | Outliers: {outlier_count} ({outlier_percentage:.2f}%) \033[0m")
print(f"\033[91m Total outliers in dataset: {total_outliers} ({total_outlier_percentage:.2f}%) \033[0m")

 Numeric columns
 Index(['Year', 'Engine HP', 'Engine Cylinders', 'Number of Doors',
       'highway MPG', 'city mpg', 'Popularity', 'MSRP'],
      dtype='object')
 Column: Year | Outliers: 467 (4.17%)
 Column: Engine HP | Outliers: 502 (4.48%)
 Column: Engine Cylinders | Outliers: 352 (3.14%)
 Column: Number of Doors | Outliers: 0 (0.00%)
 Column: highway MPG | Outliers: 182 (1.63%)
 Column: city mpg | Outliers: 305 (2.72%)
 Column: Popularity | Outliers: 825 (7.37%)
 Column: MSRP | Outliers: 960 (8.57%)
 Total outliers in dataset: 3593 (32.09%)

In [8]:
# outlier replacement with median
for col in numeric_cols:
    Q1 = dataset[col].quantile(0.25)
    Q3 = dataset[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    median_value = dataset[col].median()
    dataset.loc[(dataset[col] < lower_bound) | (dataset[col] > upper_bound), col] = median_value
    print(f"\033[92m Replaced outliers in column '{col}' with median value {median_value}.\033[0m")

 Replaced outliers in column 'Year' with median value 2015.0.
 Replaced outliers in column 'Engine HP' with median value 240.0.
 Replaced outliers in column 'Engine Cylinders' with median value 6.0.
 Replaced outliers in column 'Number of Doors' with median value 4.0.
 Replaced outliers in column 'highway MPG' with median value 25.0.
 Replaced outliers in column 'city mpg' with median value 18.0.
 Replaced outliers in column 'Popularity' with median value 1385.0.
 Replaced outliers in column 'MSRP' with median value 30695.0.

# Feature Engineering

In [9]:
# for col in dataset.columns:
#     print(f"\033[92m Column: {col} | Unique Values: {dataset[col].nunique()} \033[0m")
# dataset.info()
import datetime

# 1. Age of Car
current_year = datetime.datetime.now().year
dataset["Age"] = current_year - dataset["Year"]

# 2. Fuel Efficiency Score
dataset["Fuel_Efficiency"] = (dataset["highway MPG"] * 0.6) + (dataset["city mpg"] * 0.4)

# 3. Power Per Cylinder
dataset["Power_per_Cylinder"] = dataset["Engine HP"] / dataset["Engine Cylinders"]

# 4. Combined MPG
dataset["Combined_MPG"] = (dataset["highway MPG"] + dataset["city mpg"]) / 2

# 5. Luxury Score
dataset["Luxury_Score"] = dataset["Market Category"].str.contains("luxury", case=False, na=False).astype(int)

# 6. Hybrid / Electric flags
dataset["Is_Hybrid"] = dataset["Engine Fuel Type"].str.contains("hybrid", case=False, na=False).astype(int)
dataset["Is_Electric"] = dataset["Engine Fuel Type"].str.contains("electric", case=False, na=False).astype(int)
# Show new features
dataset.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,...,city mpg,Popularity,MSRP,Age,Fuel_Efficiency,Power_per_Cylinder,Combined_MPG,Luxury_Score,Is_Hybrid,Is_Electric
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,manual,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",...,19,3916,46135,14,23.2,55.833333,22.5,1,0,0
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,manual,rear wheel drive,2.0,"Luxury,Performance",...,19,3916,40650,14,24.4,50.000000,23.5,1,0,0
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,manual,rear wheel drive,2.0,"Luxury,High-Performance",...,20,3916,36350,14,24.8,50.000000,24.0,1,0,0
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,manual,rear wheel drive,2.0,"Luxury,Performance",...,18,3916,29450,14,24.0,38.333333,23.0,1,0,0
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,manual,rear wheel drive,2.0,Luxury,...,18,3916,34500,14,24.0,38.333333,23.0,1,0,0

In [10]:
# Dropping 'Model' isn’t necessary because it contains useful information and can be encoded instead of removed.
dataset.drop('Model', axis=1, inplace=True)

# Encode Categorical Variables

In [11]:
categorical_cols=dataset.select_dtypes(include=['object']).columns
print("\033[92m \n Categorical columns \n\033[0m",categorical_cols)

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
Market_Category = le.fit_transform(dataset['Market Category'])

df = pd.get_dummies(dataset, columns=[
    'Make', 'Engine Fuel Type', 'Transmission Type',
    'Driven_Wheels', 'Vehicle Size', 'Vehicle Style'
])
df['Market Category'] = Market_Category
df.shape



# import pandas as pd


# df = pd.get_dummies(dataset, columns=categorical_cols, drop_first=True)
# df.shape

 Categorical columns
 Index(['Make', 'Engine Fuel Type', 'Transmission Type', 'Driven_Wheels',
       'Market Category', 'Vehicle Size', 'Vehicle Style'],
      dtype='object')

(11196, 102)

In [12]:
# original dataset catagorical columns removed after encoding
print("\033[91m \n Original dataset catagorical columns removed after encoding \n\033[0m",df.columns)
columns_to_drop = ['Make', 'Engine Fuel Type', 'Transmission Type', 'Driven_Wheels', 
                   'Market Category', 'Vehicle Size', 'Vehicle Style']
dataset = dataset.drop(columns=columns_to_drop)

 Original dataset catagorical columns removed after encoding
 Index(['Year', 'Engine HP', 'Engine Cylinders', 'Number of Doors',
       'Market Category', 'highway MPG', 'city mpg', 'Popularity', 'MSRP',
       'Age',
       ...
       'Vehicle Style_Convertible', 'Vehicle Style_Convertible Suv',
       'Vehicle Style_Coupe', 'Vehicle Style_Crew Cab Pickup',
       'Vehicle Style_Extended Cab Pickup', 'Vehicle Style_Passenger Minivan',
       'Vehicle Style_Passenger Van', 'Vehicle Style_Regular Cab Pickup',
       'Vehicle Style_Sedan', 'Vehicle Style_Wagon'],
      dtype='object', length=102)

In [13]:
# original dataset and encoded dataset columns connection
print("\033[92m \n Original dataset columns \n\033[0m")
encode_dataset = pd.concat([dataset, df], axis=1)

print("final dataset columns after encoding \n",encode_dataset.columns)

 Original dataset columns

final dataset columns after encoding
 Index(['Year', 'Engine HP', 'Engine Cylinders', 'Number of Doors',
       'highway MPG', 'city mpg', 'Popularity', 'MSRP', 'Age',
       'Fuel_Efficiency',
       ...
       'Vehicle Style_Convertible', 'Vehicle Style_Convertible Suv',
       'Vehicle Style_Coupe', 'Vehicle Style_Crew Cab Pickup',
       'Vehicle Style_Extended Cab Pickup', 'Vehicle Style_Passenger Minivan',
       'Vehicle Style_Passenger Van', 'Vehicle Style_Regular Cab Pickup',
       'Vehicle Style_Sedan', 'Vehicle Style_Wagon'],
      dtype='object', length=117)

In [14]:
encode_dataset.head()

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP,Age,Fuel_Efficiency,...,Vehicle Style_Convertible,Vehicle Style_Convertible Suv,Vehicle Style_Coupe,Vehicle Style_Crew Cab Pickup,Vehicle Style_Extended Cab Pickup,Vehicle Style_Passenger Minivan,Vehicle Style_Passenger Van,Vehicle Style_Regular Cab Pickup,Vehicle Style_Sedan,Vehicle Style_Wagon
0,2011,335.0,6.0,2.0,26,19,3916,46135,14,23.2,...,False,False,True,False,False,False,False,False,False,False
1,2011,300.0,6.0,2.0,28,19,3916,40650,14,24.4,...,True,False,False,False,False,False,False,False,False,False
2,2011,300.0,6.0,2.0,28,20,3916,36350,14,24.8,...,False,False,True,False,False,False,False,False,False,False
3,2011,230.0,6.0,2.0,28,18,3916,29450,14,24.0,...,False,False,True,False,False,False,False,False,False,False
4,2011,230.0,6.0,2.0,28,18,3916,34500,14,24.0,...,True,False,False,False,False,False,False,False,False,False

# save file

In [ ]:
encode_dataset.to_csv("new_clean.csv", index=False, encoding="utf-8-sig")